h5 {
  text-align: center;
}

#video {
  width: 100%;
  height: 100%;
}

.img-centro {
  margin: 10px auto 10px;
  display: block;
}

.grid_cards {
  width: 80%;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.text-font {
  text-align: center;
  width: 40%;
  height: 100vh;
  margin: auto;
  padding: 1em;
}

.metodologia {
  text-align: center;
}

.card_metodologia {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.final_pag {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.redes {
  text-align: right;
  width: 90%;
  margin: auto;
  padding: 1em;
}

.center_forms {
  width: 50%;
  margin: auto;
  padding: 1em;
}

.button-centro2 {
  text-align: center;
}

.button-centro {
  text-align: center;
}

.llamar {
  text-align: center;
}

.contacto_redes {
  text-align: center;
}
.img_servicios {
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(img/img_servicios.png);
  background-size: cover;
  background-position: center;
}

.txt_servicios {
  color: white;
  text-align: center;
  width: 50%;
}

.img_subete {
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(img/img_abordo.png);
  background-size: cover;
  background-position: center;
}

.txt_subete {
  color: white;
  text-align: center;
  width: 50%;
}
.img_somos {
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(img/img_quienes_somos.png);
  background-size: cover;
  background-position: center;
}

.txt_somos {
  color: white;
  text-align: center;
  width: 50%;
}

.grid_cards_somos {
  width: 70%;
  margin: auto;
  padding: 1em;
  text-align: center;
}
