h5 {
  text-align: center;
}

#video {
  width: 100%;
  height: 10%;
}

.img-centro {
  margin: 10px auto 10px;
  display: block;
}

.grid_cards {
  width: 80%;
  margin: auto;
  padding: 1em;
}

.text-font {
  text-align: center;
  width: 40%;
  height: 100vh;
  margin: auto;
  padding: 1em;
}

.metodologia {
  text-align: center;
}

.card_metodologia {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.final_pag {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.redes {
  text-align: right;
  width: 90%;
  margin: auto;
  padding: 1em;
}
